.page-title, .page-content{
  color: white;
  margin-top: 20px;
}

.react-calendar {
  background: #fff;
  border: 1px solid #DFEBFE;
  border-radius: 5px;
  font-family: Arial,Helvetica,sans-serif;
  height: 350px;
  line-height: 1.125em;
  max-width: 100%;
  width: 295px;
  box-shadow: 0 10px 20px #1e36ce1a;
  padding: 10px 8px;
}



div.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
  text-decoration: none;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  border: 0;
  margin: 0;
  outline: none;
  border-radius: 5px;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 24px;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 5px;
}

.react-calendar__navigation button {
  min-width: 24px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #EEF0FE;
  margin-right: 110px;
}
.react-calendar__month-view__weekdays {
  font: inherit;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 15px;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  border-bottom: 1px solid rgba(220, 224, 255, 1);
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}



.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #57546D40!important;
}

.react-calendar__tile--rangeStart{ background-color: #e2d8f9 !important; }

.react-calendar__tile--rangeEnd{ background-color: #e2d8f9 !important; }


.react-calendar__century-view .react-calendar__tile, .react-calendar__decade-view .react-calendar__tile {
  padding: 14px 10px;
}

.react-calendar__year-view .react-calendar__tile {
  padding: 14px 10px;
}


.react-calendar__tile {
  background: none;
  color: #57546D;
  line-height: 16px;
  font: inherit;
  font-size: 13px;
  max-width: 100%;
  padding: 7px 6.6667px;
  text-align: center;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #fffefe;
}



.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #EEF0FE;
}

.react-calendar__tile--now, .react-calendar__tile--now:enabled:focus, .react-calendar__tile--now:enabled:hover {
  background: none;
  border-radius: 3px;
  color: #5d008f;
}

.react-calendar__tile--hasActive {
  background: rgba(236, 229, 251, 1) !important;
  color: #5d008f;
}



.react-calendar__tile--active {
  background: #ece5fb;
  border-radius: 2px;
  color: #660f96;

}



.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #EEF0FE;
}

.react-calendar__navigation__label {
  order: -1;
color: rgba(87, 84, 115, 1);
font-weight: 500;
font-size: 14px;
padding: 0px;
text-align: left;
padding-left: 15px;
}

.react-calendar__navigation__prev,
.react-calendar__navigation__next {
  margin-left: auto;
}




abbr[title] {
  text-decoration: none;
  color: rgba(152, 151, 165, 1);
  font-weight: 500;
}


.react-calendar__navigation__prev-button , .react-calendar__navigation__next-button{
  color:rgba(102, 15, 150, 1);
  font-size: 18px;
  border-radius: 5px;
  padding: 0 ;
  background-color:rgba(89, 9, 215, 0.1) !important;
  margin-right: 10px !important;
}

.calendar-container {
  position: relative;
}

.calendar-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px; 
}


.apply-btn {
  background-color: #5d008f;
  border-radius: 5px;
  color: #fff;
  height: 35px;
  width: calc(100% - 30px);
  position: absolute;
  bottom:10px;
  left: 15px;
  margin-bottom: 10px !important;
}

.react-calendar__year-view, .react-calendar__decade-view, .react-calendar__century-view{
  border-top: 1px solid #dce0ff;
    margin-top: 20px;
    padding-top: 15px;
  }

